:root {
  --secondary-color: rgb(119, 119, 119);
  --secondary-color-transp: rgba(119, 119, 119, 0.86);
  --grayed-color: rgb(235, 237, 235);
  --light-gray-color: #333;
  --lighter-gray: #999;
  --light-color: rgb(68, 68, 68);
  /*--dark-color: var(--grayed-color);*/
  --dark-color: rgb(202, 190, 202);
  --dark-color-transp: rgba(235, 237, 235, 0.86);
  --dark-color-extra-transp: rgb(235, 237, 235, 0.6);
}

.bg--gradient {
  background-color: var(--light-color);
  /*background: linear-gradient(to bottom, rgb(37, 6, 37) 0%,var(--light-color) 100%);*/
  background: linear-gradient(to bottom, var(--light-color) 0%, rgb(37, 6, 37) 100%);
}

.quote-card {
  background-color: var(--dark-color-quote);
}

.invertable--img {
  filter: invert();
}

.btn:hover,
.btn:focus,
.btn:active,
a.btn:hover,
a.btn:focus,
a.btn:active {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

body>footer {
  color: var(--secondary-color);
  /*background-color: var(--dark-color-quote);*/
  background: linear-gradient(to bottom, var(--light-color) 0%, rgb(37, 6, 37) 180%);
}

.hero {
  border-bottom: none;
}

.footer-sections p {
  color: var(--dark-color);
}

.pill {
  background-color: var(--light-gray-color);
}

.pill a {
  color: var(--accent-color);
}

.pill a:hover {
  color: var(--primary-color);
}

.article-toc {
  background-color: var(--light-gray-color);
  color: var(--dark-color);
}

.article-header__desc span {
  color: var(--secondary-color);
}

blockquote {
  background-color: var(--light-gray-color);
}

.header,
.header__title,
.menu-btn {
  color: var(--grayed-color);
}

.menu-btn__icon rect,
.header--sticky .menu-btn__icon rect {
  fill: var(--grayed-color);
}

.menu-btn__icon {
  border: 2px solid var(--dark-color);
}

.card__date-pill {
  color: var(--grayed-color);
}