/*
Catpuccin colors (macchiato):

dark bg: rgb(73, 77, 100);
darker bg: rgb(54, 58, 79);
lighter bg: rgb(91, 96, 120);
muted red: rgb(236, 135, 150);
greener: rgb(166, 218, 149);
muted yellow: rgb(238, 212, 159);
lightish indigo: rgb(138, 173, 244);
pink: rgb(245, 189, 230);
teal: rgb(139, 213, 202);
light gray: rgb(184, 192, 224);
"dark" gray: rgb(165, 173, 203);
*/

:root {
  --primary-color: rgb(138, 173, 244);
  --secondary-color: rgb(73, 77, 100);
  --secondary-color-transp: rgba(73, 77, 100, 0.86);
  --grayed-color: rgb(91, 96, 120);
  --light-gray-color: rgb(165, 173, 203);
  --lighter-gray: rgb(184, 192, 224);
  --light-color: rgb(54, 58, 79);
  --dark-color: rgb(91, 96, 120);
  --dark-color-transp: rgba(91, 96, 120, 0.86);
  --dark-color-extra-transp: rgba(91, 96, 120, 0.6);
}

.bg--gradient {
  background-color: var(--light-color);
  /*background: linear-gradient(to bottom, rgb(37, 6, 37) 0%,var(--light-color) 100%);*/
  background: linear-gradient(to bottom, var(--light-color) 0%, rgb(37, 6, 37) 100%);
}

.quote-card {
  background-color: var(--dark-color-quote);
}

.invertable--img {
  filter: invert();
}

.btn:hover,
.btn:focus,
.btn:active,
a.btn:hover,
a.btn:focus,
a.btn:active {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

body>footer {
  color: var(--secondary-color);
  /*background-color: var(--dark-color-quote);*/
  background: linear-gradient(to bottom, var(--light-color) 0%, rgb(37, 6, 37) 180%);
}

.hero {
  border-bottom: none;
}

.footer-sections p {
  color: var(--dark-color);
}

.pill {
  background-color: var(--light-gray-color);
}

.pill a {
  color: var(--accent-color);
}

.pill a:hover {
  color: var(--primary-color);
}

.article-toc {
  background-color: var(--light-gray-color);
  color: var(--dark-color);
}

.article-header__desc span {
  color: var(--secondary-color);
}

blockquote {
  background-color: var(--light-gray-color);
}

.header,
.header__title,
.menu-btn {
  color: var(--grayed-color);
}

.menu-btn__icon rect,
.header--sticky .menu-btn__icon rect {
  fill: var(--grayed-color);
}

.menu-btn__icon {
  border: 2px solid var(--dark-color);
}

.card__date-pill {
  color: var(--grayed-color);
}
