:root {
  --primary-color: darkblue;
  --secondary-color: silver;
  --accent-color: deeppink;
  --light-color: #ebeded;
  --dark-color: #555;
  --main-padding: 0.6rem;
  --content-padding: 0.4rem;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-color);
  background-color: var(--secondary-color);
  padding: 0;
  margin: 0;
}

body > header {
  color: var(--dark-color);
  background-image: url('../img/gilleshead_rotated.png');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__title {
  margin: 0;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  font-size: 1.2rem;
}

body > footer {
  color: var(--light-color);
  background-color: var(--dark-color);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5);
}

body > main {
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header, footer, main {
  padding: var(--main-padding);
}

/*
I can't use BEM for center-image because
it's used in the blog posts as well.
This is a valid block name, though
*/
.center-image {
  text-align: center;
}

.center-image img {
  max-width: 100%;
}

.text--smaller {
  font-size: 0.6em;
}

.content-card {
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px, rgba(0, 0, 0, 0.2) 0px 8px 10px -7px;
  margin: 0 auto;
  width: 98%;
  padding: var(--content-padding);
}