:root {
  --primary-color: rgb(110, 96, 204);
  --accent-color: rgb(219, 48, 105);
  --ui-color: rgb(78, 205, 196);
  --secondary-color: #edebed;
  --light-color: #fff;
  /*--dark-color: #555;*/
  --dark-color: rgb(68, 68, 68);
  --main-padding: 0.6rem;
  --content-padding: 0.6rem;
  --card-padding: 0.7rem;
  --ui-shadow: 0px 0px 4px var(--dark-color);
  --text-shadow-1: 2px 2px 2px var(--accent-color);
  --text-shadow-2: 0px 0px 6px var(--accent-color);
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

.bg--gradient {
  background-color: var(--secondary-color);
  /*background: linear-gradient(to bottom, rgba(220,220,220,0.9) 0%,rgba(69,90,100,0.9) 100%);*/
  background: linear-gradient(to bottom, var(--secondary-color) 0%,rgba(68,68,68,0.9) 100%);
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-color);
  /*background-color: var(--secondary-color);*/
  padding: 0;
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../img/gilleshead_rotated.png');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: all .3s ease;
  color: var(--light-color);
  transform-origin: top;
}

.header--sticky {
  position: fixed;
  background-color: var(--light-color);
  padding: 1.2rem;
  color: var(--dark-color);
  z-index: 15;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 100%;
  background-color: var(--dark-color);
  border-bottom: 3px solid var(--dark-color);
  color: var(--light-color);
  z-index: -10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 6px double var(--accent-color);
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0px 0px 60px 10px rgba(0, 0, 0, .6);
}

.hero__mid {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero__bottom {
  z-index: 2;
}

.hero__img {
  height: 75%;
}

svg.hero__img  * {
  stroke: var(--primary-color);
}

.hero__img--v1 {
  transform: rotate(-14deg);
}

.hero__img--v2 {
  transform: rotate(-11deg) scaleX(-1);
}

svg.hero__img--v1 * {
  stroke-width: 7px;
}

svg.hero__img--v2 * {
  stroke-width: 2px;
}


svg.hero__img--v2-loaded * {
  stroke-width: 3px;
  fill: transparent;
}

.header__title {
  margin: 0;
  padding: 0.1rem 0;
  font-size: 1.2rem;
}

.main-title {
  text-shadow: var(--text-shadow-2);
  text-align: center;
  font-size: 3rem;
}

body > footer {
  color: var(--light-color);
  background-color: var(--dark-color);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, .6);
}

body > main {
  flex: 1;
  /** Required to display 
  inline-block elements
  at the center **/
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body > footer, body > main {
  padding: var(--main-padding);
}

/*
I can't use BEM for center-image because
it's used in the blog posts as well.
This is a valid block name, though
*/
.center-image {
  text-align: center;
}

.center-image img {
  max-width: 100%;
}

.text--smaller {
  font-size: 0.6em;
}

.content-card {
  text-align: justify;
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: rgba(0, 0, 0, .14) 0px 16px 24px 2px, rgba(0, 0, 0, .12) 0px 6px 30px 5px, rgba(0, 0, 0, .2) 0px 8px 10px -7px;
  margin: 0 auto;
  width: 98%;
  padding: var(--content-padding);
  margin-bottom: 2rem;
}

.cta {
  margin-top: 145px;
  width: min-content;
  background-color: rgba(255, 255, 255, 0.82);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.cta-buttons {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.btn {
  background-color: var(--ui-color);
  color: var(--accent-color);
  font-weight: bolder;
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  box-shadow: var(--ui-shadow);
}

.cta-buttons__btn {
  
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.card-list__title {
  margin: 0 0 1rem 0;
  padding: 0 0 1.2rem 0;
  border-bottom: solid 4px var(--accent-color);
  font-size: 1.4rem;
  font-weight: bolder;
}

.card-list__card {
  width: 100%;
  margin-bottom: 1.4rem;
}

.card {
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

.card__header {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 1.3rem;
  padding: var(--card-padding);
}

.card__body {
  padding-left: var(--card-padding);
  padding-right: var(--card-padding);
}

.search {
  width: 100%;
  border: 3px solid var(--ui-color);
  padding: 0;
  margin: 0;
  display: flex;
  box-shadow: var(--ui-shadow);
}

.search__img {
  background-color: var(--ui-color);
  padding: 0.2rem 0.8rem;
  height: 34px;
}

.input {
  border: none;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.search__input {
  height: 100%;
  min-width: 250px;
} 

.input:focus {
  outline: 2px solid var(--accent-color);
}

.input::-moz-focus-inner {
  border: 0;
}

.header__menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  font-family: sans-serif;
  border: none;
  background-color: transparent;
  /*padding: 0.3rem 0.5rem;*/
  color: var(--light-color);
  padding: 0.3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.menu-btn__icon {
  height: 26px;
  padding: 0.2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-left: 0.4rem;
  border: 2px solid var(--light-color);
}

.menu-btn span {
  margin-right: 0.4rem;
}

.menu-btn__icon rect {
  transition: opacity .6s, transform .6s;
  fill: var(--light-color);
}

.menu-btn.open .menu-btn__icon .line-2 {
  opacity: 0;
}

.menu-btn:hover .menu-btn__icon .line-1 {
  animation: refill 1s infinite;
}

.menu-btn:hover .menu-btn__icon .line-2 {
  animation: refill 4s infinite;
}

.menu-btn:hover .menu-btn__icon .line-3 {
  animation: refill 1s infinite 0.2s;
}

.menu-btn.open .menu-btn__icon .line-1 {
  transform: rotate(45deg) translate(2px, -1px);
}

.menu-btn.open .menu-btn__icon .line-2 {
  opacity: 0;
}

.menu-btn.open .menu-btn__icon .line-3 {
  transform: rotate(-45deg) translate(-4px, -2px);
}

@keyframes refill {
  0%, 100% { fill: #7ccdea; }
  16%      { fill: #0074d9; }
  32%      { fill: #2ecc40; }
  48%      { fill: #ffdc00; }
  64%      { fill: #b10dc9; }
  80%      { fill: #ff4136; }
}

/* .animate--scale-down {
  animation: scale-down 0.6s;
}

@keyframes scale-down {
  from {transform: scaleX(1)}
  to {transform: scaleX(0.1)}
} */